.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}

.padding-top-small {
  padding-top: 10px;
}
.padding-bottom-small {
  padding-bottom: 10px;
}

.padding-all {
  padding: 10px;
}

.nav-item .nav-link.active {
  background-color: var(--indigo);
}

.btn.btn-primary {
  background-color: var(--indigo);
  border-color: var(--indigo);
}

a {
  color: var(--indigo);
}

.background {
}
.card {
  margin-bottom: 30px;
}
.tab-content {
  background-color: #efefef;
}
.echeader {
  background-color: #efefef;
  padding-top: 6px;
  padding-bottom: 6px;
}