body {
    background-color: #940299;
}
@media (max-width: 600px) {
    #subheader {
	font-size: 14px;
	line-height: 14px;
    }
    span.find-me {
        padding-left: 0px;
    }
}

#subheader {
    text-align: center;
    margin-bottom: 50px;
    color: #e8ecf2; /* #EBD502; */
}
#logo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#maintext {
    padding:10px;
    background-color: #F3E521;
    border-radius:6px;
    color: #2C4E2A;/*23C51B;*/
}
#maintext a {
    color: #B81988;
}

.find-me-div {
    text-align: center;
}
.grid {
    margin: 20px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 500px) {
    .item {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
    .item {
        width: 130px;
    }
}

.line-break {
    width: 100%;
}
.item-img:not(.item) {
    max-width: 500px;
    align-self: center;
    justify-content: center;
}
.item img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.item-title a {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 8px;
    padding: 4px;
}
a:link {
    padding: 4px;
    color: #940299;
    background-color: #e8ecf2;
}
a:visited {
    color: #191DA4;
}
a:hover {
    color: #CE00D5;
}

.item {
    background-color: #FFE700;
    color: #333577;/*23C51B;*/
    border-radius:6px;
    border: 2px solid #191DA4;
    padding: 25px;
    margin: 10px;
    width: 300px;
}
/*http://paletton.com/#uid=31D0u0kllll0B54aYddvIttZdLO*/
/*http://paletton.com/#uid=3540z0kllllAAS1rBuwf4ca8O2+*/
