#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#mainhero {
    background-color: #fff;
}

#maintext {
    /*background-color:#FFF183;*/
    background-color: #F3E521;
    border-radius:6px;
    color: #2C4E2A;/*23C51B;*/
}
#maintext a {
    color: #B81988;
}