---
layout: default
title: Tech Blog
---

<!-- Featured Tech Posts
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Tech</span></h2>
    </div>
    <div class="row">

    {% for post in site.tech %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

<!-- Tech Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>All Tech Posts</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in site.tech %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>